<%= form_for(search) do |f| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :outbound %>
    <%= f.text_field :outbound %>
  </div>

  <div class="field">
    <%= f.label :flight_duration %>
    <%= f.number_field :flight_duration %>
  </div>

  <div class="field">
    <%= f.label :departure %>
    <%= f.date_select :departure %>
  </div>

  <div class="field">
    <%= f.label :return %>
    <%= f.date_select :return %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
